<div class="container mt-4">
  <div class="row">
    <!-- 左側：User info + New book -->
    <div class="col-md-3">
      <%= render 'books/sidebar' %>
    </div>

    <!-- 右側：ユーザー一覧 -->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Show</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%# プロフィール画像の表示処理を追加 %>
                <% if user.profile_image.attached? %>
                  <%= image_tag user.profile_image, width: 80, height: 80, class: "rounded-circle" %>
                <% else %>
                  <%= image_tag 'no_image.png', width: 80, height: 80 %>
                <% end %>
              </td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user), class: "btn btn-outline-primary btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
